<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Awarded/awarded marks_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{2033,2},{1,1}}</string>
                <key>offset</key>
                <string>{-119.5,49.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{240,100}</string>
            </dict>
            <key>Awarded/awarded marks_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1390,2357},{142,56}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{44,22},{142,56}}</string>
                <key>sourceSize</key>
                <string>{240,100}</string>
            </dict>
            <key>Awarded/awarded marks_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1390,2213},{142,56}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{44,22},{142,56}}</string>
                <key>sourceSize</key>
                <string>{240,100}</string>
            </dict>
            <key>Awarded/awarded marks_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1862,146},{144,58}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{43,21},{144,58}}</string>
                <key>sourceSize</key>
                <string>{240,100}</string>
            </dict>
            <key>Awarded/awarded marks_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1528,2809},{146,72}}</string>
                <key>offset</key>
                <string>{-5,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,15},{146,72}}</string>
                <key>sourceSize</key>
                <string>{240,100}</string>
            </dict>
            <key>Awarded/awarded marks_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1528,2727},{150,80}}</string>
                <key>offset</key>
                <string>{-4,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,11},{150,80}}</string>
                <key>sourceSize</key>
                <string>{240,100}</string>
            </dict>
            <key>Awarded/awarded marks_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1680,2754},{172,86}}</string>
                <key>offset</key>
                <string>{-4,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,8},{172,86}}</string>
                <key>sourceSize</key>
                <string>{240,100}</string>
            </dict>
            <key>Awarded/awarded marks_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1853,781},{188,90}}</string>
                <key>offset</key>
                <string>{-4,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,6},{188,90}}</string>
                <key>sourceSize</key>
                <string>{240,100}</string>
            </dict>
            <key>Awarded/awarded marks_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{1843,1362},{200,96}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,2},{200,96}}</string>
                <key>sourceSize</key>
                <string>{240,100}</string>
            </dict>
            <key>Awarded/awarded marks_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{1248,2637},{210,100}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,0},{210,100}}</string>
                <key>sourceSize</key>
                <string>{240,100}</string>
            </dict>
            <key>Awarded/awarded marks_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{1028,2637},{218,100}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{218,100}}</string>
                <key>sourceSize</key>
                <string>{240,100}</string>
            </dict>
            <key>Awarded/awarded marks_00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2755},{226,100}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{226,100}}</string>
                <key>sourceSize</key>
                <string>{240,100}</string>
            </dict>
            <key>Awarded/awarded marks_00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2653},{232,100}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{232,100}}</string>
                <key>sourceSize</key>
                <string>{240,100}</string>
            </dict>
            <key>Awarded/awarded marks_00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,2551},{236,100}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{236,100}}</string>
                <key>sourceSize</key>
                <string>{240,100}</string>
            </dict>
            <key>Awarded/awarded marks_00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2551},{238,100}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{238,100}}</string>
                <key>sourceSize</key>
                <string>{240,100}</string>
            </dict>
            <key>Awarded/awarded marks_00015.png</key>
            <dict>
                <key>frame</key>
                <string>{{1386,2625},{240,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{240,100}}</string>
                <key>sourceSize</key>
                <string>{240,100}</string>
            </dict>
            <key>Awarded/awarded marks_00016.png</key>
            <dict>
                <key>frame</key>
                <string>{{1386,2523},{240,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{240,100}}</string>
                <key>sourceSize</key>
                <string>{240,100}</string>
            </dict>
            <key>Awarded/awarded marks_00017.png</key>
            <dict>
                <key>frame</key>
                <string>{{1792,2735},{240,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{240,100}}</string>
                <key>sourceSize</key>
                <string>{240,100}</string>
            </dict>
            <key>Awarded/awarded marks_00018.png</key>
            <dict>
                <key>frame</key>
                <string>{{1792,2633},{240,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{240,100}}</string>
                <key>sourceSize</key>
                <string>{240,100}</string>
            </dict>
            <key>Awarded/awarded marks_00019.png</key>
            <dict>
                <key>frame</key>
                <string>{{1690,2512},{240,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{240,100}}</string>
                <key>sourceSize</key>
                <string>{240,100}</string>
            </dict>
            <key>Awarded/awarded marks_00020.png</key>
            <dict>
                <key>frame</key>
                <string>{{1448,2421},{240,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{240,100}}</string>
                <key>sourceSize</key>
                <string>{240,100}</string>
            </dict>
            <key>Awarded/awarded marks_00021.png</key>
            <dict>
                <key>frame</key>
                <string>{{1448,2319},{240,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{240,100}}</string>
                <key>sourceSize</key>
                <string>{240,100}</string>
            </dict>
            <key>Awarded/awarded marks_00022.png</key>
            <dict>
                <key>frame</key>
                <string>{{1448,2217},{240,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{240,100}}</string>
                <key>sourceSize</key>
                <string>{240,100}</string>
            </dict>
            <key>Awarded/awarded marks_00023.png</key>
            <dict>
                <key>frame</key>
                <string>{{1451,2115},{240,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{240,100}}</string>
                <key>sourceSize</key>
                <string>{240,100}</string>
            </dict>
            <key>Barrier1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1924,75},{106,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,87}}</string>
                <key>sourceSize</key>
                <string>{106,87}</string>
            </dict>
            <key>Barrier2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1922,164},{125,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,49}}</string>
                <key>sourceSize</key>
                <string>{125,49}</string>
            </dict>
            <key>Barrier3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1924,2},{107,71}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{107,71}}</string>
                <key>sourceSize</key>
                <string>{111,75}</string>
            </dict>
            <key>Bonfire/Bonfire_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1768,2837},{161,176}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{161,176}}</string>
                <key>sourceSize</key>
                <string>{165,180}</string>
            </dict>
            <key>Bonfire/Bonfire_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1350,2727},{161,176}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{161,176}}</string>
                <key>sourceSize</key>
                <string>{165,180}</string>
            </dict>
            <key>Bonfire/Bonfire_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1028,2739},{161,176}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{161,176}}</string>
                <key>sourceSize</key>
                <string>{165,180}</string>
            </dict>
            <key>Bonfire/Bonfire_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1843,1786},{161,176}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{161,176}}</string>
                <key>sourceSize</key>
                <string>{165,180}</string>
            </dict>
            <key>Bonfire/Bonfire_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1843,1623},{161,176}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{161,176}}</string>
                <key>sourceSize</key>
                <string>{165,180}</string>
            </dict>
            <key>Bonfire/Bonfire_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1843,1460},{161,176}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{161,176}}</string>
                <key>sourceSize</key>
                <string>{165,180}</string>
            </dict>
            <key>Bonfire/Bonfire_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1853,1199},{161,176}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{161,176}}</string>
                <key>sourceSize</key>
                <string>{165,180}</string>
            </dict>
            <key>Bonfire/Bonfire_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1853,1036},{161,176}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{161,176}}</string>
                <key>sourceSize</key>
                <string>{165,180}</string>
            </dict>
            <key>Bonfire/Bonfire_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{1853,873},{161,176}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{161,176}}</string>
                <key>sourceSize</key>
                <string>{165,180}</string>
            </dict>
            <key>Bonfire/Bonfire_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{1862,618},{161,176}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{161,176}}</string>
                <key>sourceSize</key>
                <string>{165,180}</string>
            </dict>
            <key>Bonfire/Bonfire_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{1862,455},{161,176}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{161,176}}</string>
                <key>sourceSize</key>
                <string>{165,180}</string>
            </dict>
            <key>Bonfire/Bonfire_00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{1862,292},{161,176}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{161,176}}</string>
                <key>sourceSize</key>
                <string>{165,180}</string>
            </dict>
            <key>FG_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1905},{214,1079}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{214,1079}}</string>
                <key>sourceSize</key>
                <string>{214,1079}</string>
            </dict>
            <key>FG_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1727,1905},{605,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{605,105}}</string>
                <key>sourceSize</key>
                <string>{605,105}</string>
            </dict>
            <key>FG_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1083,2115},{366,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{366,96}}</string>
                <key>sourceSize</key>
                <string>{366,96}</string>
            </dict>
            <key>FG_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1083,1905},{208,642}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{208,642}}</string>
                <key>sourceSize</key>
                <string>{208,642}</string>
            </dict>
            <key>Fireball/Fireball_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2333},{216,340}}</string>
                <key>offset</key>
                <string>{0,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,41},{216,340}}</string>
                <key>sourceSize</key>
                <string>{240,400}</string>
            </dict>
            <key>Fireball/Fireball_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,2549},{214,340}}</string>
                <key>offset</key>
                <string>{-1,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,39},{214,340}}</string>
                <key>sourceSize</key>
                <string>{240,400}</string>
            </dict>
            <key>Fireball/Fireball_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1834,2293},{212,338}}</string>
                <key>offset</key>
                <string>{-1,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,39},{212,338}}</string>
                <key>sourceSize</key>
                <string>{240,400}</string>
            </dict>
            <key>Fireball/Fireball_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{686,2543},{214,340}}</string>
                <key>offset</key>
                <string>{0,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,40},{214,340}}</string>
                <key>sourceSize</key>
                <string>{240,400}</string>
            </dict>
            <key>Fireball/Fireball_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,2333},{214,340}}</string>
                <key>offset</key>
                <string>{2,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,40},{214,340}}</string>
                <key>sourceSize</key>
                <string>{240,400}</string>
            </dict>
            <key>Fireball/Fireball_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1042,2425},{210,342}}</string>
                <key>offset</key>
                <string>{4,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,39},{210,342}}</string>
                <key>sourceSize</key>
                <string>{240,400}</string>
            </dict>
            <key>Fireball/Fireball_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{698,2331},{210,342}}</string>
                <key>offset</key>
                <string>{3,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,39},{210,342}}</string>
                <key>sourceSize</key>
                <string>{240,400}</string>
            </dict>
            <key>Fireball/Fireball_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1046,2213},{210,342}}</string>
                <key>offset</key>
                <string>{2,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,40},{210,342}}</string>
                <key>sourceSize</key>
                <string>{240,400}</string>
            </dict>
            <key>Fireball/Fireball_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,2121},{210,346}}</string>
                <key>offset</key>
                <string>{1,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,40},{210,346}}</string>
                <key>sourceSize</key>
                <string>{240,400}</string>
            </dict>
            <key>Fireball/Fireball_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2121},{210,346}}</string>
                <key>offset</key>
                <string>{2,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,40},{210,346}}</string>
                <key>sourceSize</key>
                <string>{240,400}</string>
            </dict>
            <key>Fireball/Fireball_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{698,2121},{208,346}}</string>
                <key>offset</key>
                <string>{5,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,39},{208,346}}</string>
                <key>sourceSize</key>
                <string>{240,400}</string>
            </dict>
            <key>Fireball/Fireball_00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{1834,1949},{212,342}}</string>
                <key>offset</key>
                <string>{3,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,40},{212,342}}</string>
                <key>sourceSize</key>
                <string>{240,400}</string>
            </dict>
            <key>MS_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,688},{1849,546}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{1849,546}}</string>
                <key>sourceSize</key>
                <string>{1849,554}</string>
            </dict>
            <key>MS_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,146},{1858,540}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{1858,540}}</string>
                <key>sourceSize</key>
                <string>{1858,542}</string>
            </dict>
            <key>MS_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1236},{1839,667}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{1839,667}}</string>
                <key>sourceSize</key>
                <string>{1841,669}</string>
            </dict>
            <key>Ms_Ground.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1920,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1920,142}}</string>
                <key>sourceSize</key>
                <string>{1920,142}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Item.png</string>
            <key>size</key>
            <string>{2048,4096}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:92a57d4492175b8fba132365f7a47b9c$</string>
            <key>textureFileName</key>
            <string>Item.png</string>
        </dict>
    </dict>
</plist>
