<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Fireball_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{754,754},{216,340}}</string>
                <key>offset</key>
                <string>{0,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,41},{216,340}}</string>
                <key>sourceSize</key>
                <string>{240,400}</string>
            </dict>
            <key>Fireball_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,3704},{214,340}}</string>
                <key>offset</key>
                <string>{-1,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,39},{214,340}}</string>
                <key>sourceSize</key>
                <string>{240,400}</string>
            </dict>
            <key>Fireball_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,3704},{212,338}}</string>
                <key>offset</key>
                <string>{-1,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,39},{212,338}}</string>
                <key>sourceSize</key>
                <string>{240,400}</string>
            </dict>
            <key>Fireball_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{3858,3238},{214,340}}</string>
                <key>offset</key>
                <string>{0,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,40},{214,340}}</string>
                <key>sourceSize</key>
                <string>{240,400}</string>
            </dict>
            <key>Fireball_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{3646,3582},{214,340}}</string>
                <key>offset</key>
                <string>{2,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,40},{214,340}}</string>
                <key>sourceSize</key>
                <string>{240,400}</string>
            </dict>
            <key>Fireball_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1448,3646},{210,342}}</string>
                <key>offset</key>
                <string>{4,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,39},{210,342}}</string>
                <key>sourceSize</key>
                <string>{240,400}</string>
            </dict>
            <key>Fireball_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{3862,3580},{210,342}}</string>
                <key>offset</key>
                <string>{3,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,39},{210,342}}</string>
                <key>sourceSize</key>
                <string>{240,400}</string>
            </dict>
            <key>Fireball_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{3646,3238},{210,342}}</string>
                <key>offset</key>
                <string>{2,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,40},{210,342}}</string>
                <key>sourceSize</key>
                <string>{240,400}</string>
            </dict>
            <key>Fireball_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{972,754},{210,346}}</string>
                <key>offset</key>
                <string>{1,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,40},{210,346}}</string>
                <key>sourceSize</key>
                <string>{240,400}</string>
            </dict>
            <key>Fireball_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{754,1096},{210,346}}</string>
                <key>offset</key>
                <string>{2,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,40},{210,346}}</string>
                <key>sourceSize</key>
                <string>{240,400}</string>
            </dict>
            <key>Fireball_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{1102,966},{208,346}}</string>
                <key>offset</key>
                <string>{5,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,39},{208,346}}</string>
                <key>sourceSize</key>
                <string>{240,400}</string>
            </dict>
            <key>Fireball_00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{3646,2894},{212,342}}</string>
                <key>offset</key>
                <string>{3,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,40},{212,342}}</string>
                <key>sourceSize</key>
                <string>{240,400}</string>
            </dict>
            <key>awarded_marks_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{972,966},{1,1}}</string>
                <key>offset</key>
                <string>{-119.5,49.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{240,100}</string>
            </dict>
            <key>awarded_marks_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1370,3704},{142,56}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{44,22},{142,56}}</string>
                <key>sourceSize</key>
                <string>{240,100}</string>
            </dict>
            <key>awarded_marks_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,4020},{142,56}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,22},{142,56}}</string>
                <key>sourceSize</key>
                <string>{240,100}</string>
            </dict>
            <key>awarded_marks_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,4022},{144,58}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,21},{144,58}}</string>
                <key>sourceSize</key>
                <string>{240,100}</string>
            </dict>
            <key>awarded_marks_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,3920},{146,72}}</string>
                <key>offset</key>
                <string>{-5,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{42,15},{146,72}}</string>
                <key>sourceSize</key>
                <string>{240,100}</string>
            </dict>
            <key>awarded_marks_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{674,4010},{150,80}}</string>
                <key>offset</key>
                <string>{-4,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,11},{150,80}}</string>
                <key>sourceSize</key>
                <string>{240,100}</string>
            </dict>
            <key>awarded_marks_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{586,3918},{172,86}}</string>
                <key>offset</key>
                <string>{-4,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,8},{172,86}}</string>
                <key>sourceSize</key>
                <string>{240,100}</string>
            </dict>
            <key>awarded_marks_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1592,3858},{188,90}}</string>
                <key>offset</key>
                <string>{-4,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,6},{188,90}}</string>
                <key>sourceSize</key>
                <string>{240,100}</string>
            </dict>
            <key>awarded_marks_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{1238,1314},{200,96}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,2},{200,96}}</string>
                <key>sourceSize</key>
                <string>{240,100}</string>
            </dict>
            <key>awarded_marks_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{1320,754},{210,100}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,0},{210,100}}</string>
                <key>sourceSize</key>
                <string>{240,100}</string>
            </dict>
            <key>awarded_marks_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{1128,3926},{218,100}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{218,100}}</string>
                <key>sourceSize</key>
                <string>{240,100}</string>
            </dict>
            <key>awarded_marks_00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{2504,3646},{226,100}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{226,100}}</string>
                <key>sourceSize</key>
                <string>{240,100}</string>
            </dict>
            <key>awarded_marks_00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{2270,3646},{232,100}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{232,100}}</string>
                <key>sourceSize</key>
                <string>{240,100}</string>
            </dict>
            <key>awarded_marks_00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{2032,3646},{236,100}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{236,100}}</string>
                <key>sourceSize</key>
                <string>{240,100}</string>
            </dict>
            <key>awarded_marks_00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{1792,3646},{238,100}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{238,100}}</string>
                <key>sourceSize</key>
                <string>{240,100}</string>
            </dict>
            <key>awarded_marks_00015.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,3920},{240,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{240,100}}</string>
                <key>sourceSize</key>
                <string>{240,100}</string>
            </dict>
            <key>awarded_marks_00016.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,3918},{240,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{240,100}}</string>
                <key>sourceSize</key>
                <string>{240,100}</string>
            </dict>
            <key>awarded_marks_00017.png</key>
            <dict>
                <key>frame</key>
                <string>{{684,3908},{240,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{240,100}}</string>
                <key>sourceSize</key>
                <string>{240,100}</string>
            </dict>
            <key>awarded_marks_00018.png</key>
            <dict>
                <key>frame</key>
                <string>{{684,3806},{240,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{240,100}}</string>
                <key>sourceSize</key>
                <string>{240,100}</string>
            </dict>
            <key>awarded_marks_00019.png</key>
            <dict>
                <key>frame</key>
                <string>{{926,3704},{240,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{240,100}}</string>
                <key>sourceSize</key>
                <string>{240,100}</string>
            </dict>
            <key>awarded_marks_00020.png</key>
            <dict>
                <key>frame</key>
                <string>{{684,3704},{240,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{240,100}}</string>
                <key>sourceSize</key>
                <string>{240,100}</string>
            </dict>
            <key>awarded_marks_00021.png</key>
            <dict>
                <key>frame</key>
                <string>{{1312,966},{240,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{240,100}}</string>
                <key>sourceSize</key>
                <string>{240,100}</string>
            </dict>
            <key>awarded_marks_00022.png</key>
            <dict>
                <key>frame</key>
                <string>{{996,1314},{240,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{240,100}}</string>
                <key>sourceSize</key>
                <string>{240,100}</string>
            </dict>
            <key>awarded_marks_00023.png</key>
            <dict>
                <key>frame</key>
                <string>{{754,1308},{240,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{240,100}}</string>
                <key>sourceSize</key>
                <string>{240,100}</string>
            </dict>
            <key>bonfire_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{2660,3848},{200,220}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,220}}</string>
                <key>sourceSize</key>
                <string>{200,220}</string>
            </dict>
            <key>bonfire_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2458,3748},{200,220}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,220}}</string>
                <key>sourceSize</key>
                <string>{200,220}</string>
            </dict>
            <key>bonfire_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2236,3748},{200,220}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,220}}</string>
                <key>sourceSize</key>
                <string>{200,220}</string>
            </dict>
            <key>bonfire_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2014,3748},{200,220}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,220}}</string>
                <key>sourceSize</key>
                <string>{200,220}</string>
            </dict>
            <key>bonfire_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1370,3858},{200,220}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,220}}</string>
                <key>sourceSize</key>
                <string>{200,220}</string>
            </dict>
            <key>bonfire_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1792,3748},{200,220}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,220}}</string>
                <key>sourceSize</key>
                <string>{200,220}</string>
            </dict>
            <key>bonfire_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{3398,3646},{200,220}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,220}}</string>
                <key>sourceSize</key>
                <string>{200,220}</string>
            </dict>
            <key>bonfire_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{3176,3646},{200,220}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,220}}</string>
                <key>sourceSize</key>
                <string>{200,220}</string>
            </dict>
            <key>bonfire_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2954,3646},{200,220}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,220}}</string>
                <key>sourceSize</key>
                <string>{200,220}</string>
            </dict>
            <key>bonfire_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2732,3646},{200,220}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,220}}</string>
                <key>sourceSize</key>
                <string>{200,220}</string>
            </dict>
            <key>bonfire_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{926,3806},{200,220}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,220}}</string>
                <key>sourceSize</key>
                <string>{200,220}</string>
            </dict>
            <key>bonfire_00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{1168,3704},{200,220}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,220}}</string>
                <key>sourceSize</key>
                <string>{200,220}</string>
            </dict>
            <key>volcano_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{2952,1448},{1444,750}}</string>
                <key>offset</key>
                <string>{-28,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1444,750}}</string>
                <key>sourceSize</key>
                <string>{1500,750}</string>
            </dict>
            <key>volcano_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2952,2},{1444,750}}</string>
                <key>offset</key>
                <string>{-28,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1444,750}}</string>
                <key>sourceSize</key>
                <string>{1500,750}</string>
            </dict>
            <key>volcano_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2200,2894},{1444,750}}</string>
                <key>offset</key>
                <string>{-28,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1444,750}}</string>
                <key>sourceSize</key>
                <string>{1500,750}</string>
            </dict>
            <key>volcano_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2952},{1444,750}}</string>
                <key>offset</key>
                <string>{-28,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1444,750}}</string>
                <key>sourceSize</key>
                <string>{1500,750}</string>
            </dict>
            <key>volcano_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1448,2200},{1444,750}}</string>
                <key>offset</key>
                <string>{-28,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1444,750}}</string>
                <key>sourceSize</key>
                <string>{1500,750}</string>
            </dict>
            <key>volcano_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2200},{1444,750}}</string>
                <key>offset</key>
                <string>{-28,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1444,750}}</string>
                <key>sourceSize</key>
                <string>{1500,750}</string>
            </dict>
            <key>volcano_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2200,1448},{1444,750}}</string>
                <key>offset</key>
                <string>{-28,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1444,750}}</string>
                <key>sourceSize</key>
                <string>{1500,750}</string>
            </dict>
            <key>volcano_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2200,2},{1444,750}}</string>
                <key>offset</key>
                <string>{-28,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1444,750}}</string>
                <key>sourceSize</key>
                <string>{1500,750}</string>
            </dict>
            <key>volcano_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{754,1448},{1444,750}}</string>
                <key>offset</key>
                <string>{-28,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1444,750}}</string>
                <key>sourceSize</key>
                <string>{1500,750}</string>
            </dict>
            <key>volcano_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,754},{1444,750}}</string>
                <key>offset</key>
                <string>{-28,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1444,750}}</string>
                <key>sourceSize</key>
                <string>{1500,750}</string>
            </dict>
            <key>volcano_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{1448,2},{1444,750}}</string>
                <key>offset</key>
                <string>{-28,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1444,750}}</string>
                <key>sourceSize</key>
                <string>{1500,750}</string>
            </dict>
            <key>volcano_00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1444,750}}</string>
                <key>offset</key>
                <string>{-28,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1444,750}}</string>
                <key>sourceSize</key>
                <string>{1500,750}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Item0.png</string>
            <key>size</key>
            <string>{4096,4096}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:031808be97042b668473ba6d0990f7f4$</string>
            <key>textureFileName</key>
            <string>Item0.png</string>
        </dict>
    </dict>
</plist>
