<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Fireball_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{754,754},{216,340}}</string>
                <key>offset</key>
                <string>{0,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,41},{216,340}}</string>
                <key>sourceSize</key>
                <string>{240,400}</string>
            </dict>
            <key>Fireball_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,3704},{214,340}}</string>
                <key>offset</key>
                <string>{-1,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,39},{214,340}}</string>
                <key>sourceSize</key>
                <string>{240,400}</string>
            </dict>
            <key>Fireball_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,3704},{212,338}}</string>
                <key>offset</key>
                <string>{-1,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,39},{212,338}}</string>
                <key>sourceSize</key>
                <string>{240,400}</string>
            </dict>
            <key>Fireball_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{3858,3238},{214,340}}</string>
                <key>offset</key>
                <string>{0,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,40},{214,340}}</string>
                <key>sourceSize</key>
                <string>{240,400}</string>
            </dict>
            <key>Fireball_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{3646,3582},{214,340}}</string>
                <key>offset</key>
                <string>{2,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,40},{214,340}}</string>
                <key>sourceSize</key>
                <string>{240,400}</string>
            </dict>
            <key>Fireball_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1448,3646},{210,342}}</string>
                <key>offset</key>
                <string>{4,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,39},{210,342}}</string>
                <key>sourceSize</key>
                <string>{240,400}</string>
            </dict>
            <key>Fireball_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{3862,3580},{210,342}}</string>
                <key>offset</key>
                <string>{3,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,39},{210,342}}</string>
                <key>sourceSize</key>
                <string>{240,400}</string>
            </dict>
            <key>Fireball_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{3646,3238},{210,342}}</string>
                <key>offset</key>
                <string>{2,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,40},{210,342}}</string>
                <key>sourceSize</key>
                <string>{240,400}</string>
            </dict>
            <key>Fireball_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{972,754},{210,346}}</string>
                <key>offset</key>
                <string>{1,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,40},{210,346}}</string>
                <key>sourceSize</key>
                <string>{240,400}</string>
            </dict>
            <key>Fireball_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{754,1096},{210,346}}</string>
                <key>offset</key>
                <string>{2,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,40},{210,346}}</string>
                <key>sourceSize</key>
                <string>{240,400}</string>
            </dict>
            <key>Fireball_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{1102,966},{208,346}}</string>
                <key>offset</key>
                <string>{5,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,39},{208,346}}</string>
                <key>sourceSize</key>
                <string>{240,400}</string>
            </dict>
            <key>Fireball_00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{3646,2894},{212,342}}</string>
                <key>offset</key>
                <string>{3,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,40},{212,342}}</string>
                <key>sourceSize</key>
                <string>{240,400}</string>
            </dict>
            <key>bonfire_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1792,3848},{200,220}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,220}}</string>
                <key>sourceSize</key>
                <string>{200,220}</string>
            </dict>
            <key>bonfire_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{3346,3646},{200,220}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,220}}</string>
                <key>sourceSize</key>
                <string>{200,220}</string>
            </dict>
            <key>bonfire_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{3124,3646},{200,220}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,220}}</string>
                <key>sourceSize</key>
                <string>{200,220}</string>
            </dict>
            <key>bonfire_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2902,3646},{200,220}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,220}}</string>
                <key>sourceSize</key>
                <string>{200,220}</string>
            </dict>
            <key>bonfire_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2680,3646},{200,220}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,220}}</string>
                <key>sourceSize</key>
                <string>{200,220}</string>
            </dict>
            <key>bonfire_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2458,3646},{200,220}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,220}}</string>
                <key>sourceSize</key>
                <string>{200,220}</string>
            </dict>
            <key>bonfire_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2236,3646},{200,220}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,220}}</string>
                <key>sourceSize</key>
                <string>{200,220}</string>
            </dict>
            <key>bonfire_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2014,3646},{200,220}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,220}}</string>
                <key>sourceSize</key>
                <string>{200,220}</string>
            </dict>
            <key>bonfire_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{1792,3646},{200,220}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,220}}</string>
                <key>sourceSize</key>
                <string>{200,220}</string>
            </dict>
            <key>bonfire_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{1128,3704},{200,220}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,220}}</string>
                <key>sourceSize</key>
                <string>{200,220}</string>
            </dict>
            <key>bonfire_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{906,3704},{200,220}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,220}}</string>
                <key>sourceSize</key>
                <string>{200,220}</string>
            </dict>
            <key>bonfire_00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{684,3704},{200,220}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,220}}</string>
                <key>sourceSize</key>
                <string>{200,220}</string>
            </dict>
            <key>volcano_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{2952,1448},{1444,750}}</string>
                <key>offset</key>
                <string>{-28,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1444,750}}</string>
                <key>sourceSize</key>
                <string>{1500,750}</string>
            </dict>
            <key>volcano_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2952,2},{1444,750}}</string>
                <key>offset</key>
                <string>{-28,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1444,750}}</string>
                <key>sourceSize</key>
                <string>{1500,750}</string>
            </dict>
            <key>volcano_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2200,2894},{1444,750}}</string>
                <key>offset</key>
                <string>{-28,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1444,750}}</string>
                <key>sourceSize</key>
                <string>{1500,750}</string>
            </dict>
            <key>volcano_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2952},{1444,750}}</string>
                <key>offset</key>
                <string>{-28,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1444,750}}</string>
                <key>sourceSize</key>
                <string>{1500,750}</string>
            </dict>
            <key>volcano_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1448,2200},{1444,750}}</string>
                <key>offset</key>
                <string>{-28,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1444,750}}</string>
                <key>sourceSize</key>
                <string>{1500,750}</string>
            </dict>
            <key>volcano_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2200},{1444,750}}</string>
                <key>offset</key>
                <string>{-28,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1444,750}}</string>
                <key>sourceSize</key>
                <string>{1500,750}</string>
            </dict>
            <key>volcano_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2200,1448},{1444,750}}</string>
                <key>offset</key>
                <string>{-28,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1444,750}}</string>
                <key>sourceSize</key>
                <string>{1500,750}</string>
            </dict>
            <key>volcano_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2200,2},{1444,750}}</string>
                <key>offset</key>
                <string>{-28,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1444,750}}</string>
                <key>sourceSize</key>
                <string>{1500,750}</string>
            </dict>
            <key>volcano_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{754,1448},{1444,750}}</string>
                <key>offset</key>
                <string>{-28,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1444,750}}</string>
                <key>sourceSize</key>
                <string>{1500,750}</string>
            </dict>
            <key>volcano_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,754},{1444,750}}</string>
                <key>offset</key>
                <string>{-28,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1444,750}}</string>
                <key>sourceSize</key>
                <string>{1500,750}</string>
            </dict>
            <key>volcano_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{1448,2},{1444,750}}</string>
                <key>offset</key>
                <string>{-28,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1444,750}}</string>
                <key>sourceSize</key>
                <string>{1500,750}</string>
            </dict>
            <key>volcano_00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1444,750}}</string>
                <key>offset</key>
                <string>{-28,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1444,750}}</string>
                <key>sourceSize</key>
                <string>{1500,750}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Item0.png</string>
            <key>size</key>
            <string>{4096,4096}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:31925db2deb50d20f52ad97fca8db359$</string>
            <key>textureFileName</key>
            <string>Item0.png</string>
        </dict>
    </dict>
</plist>
