<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Role_Die_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,808},{106,142}}</string>
                <key>offset</key>
                <string>{-1,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,54},{106,142}}</string>
                <key>sourceSize</key>
                <string>{180,200}</string>
            </dict>
            <key>Role_Die_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,808},{92,142}}</string>
                <key>offset</key>
                <string>{1,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,43},{92,142}}</string>
                <key>sourceSize</key>
                <string>{180,200}</string>
            </dict>
            <key>Role_Die_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,2},{102,162}}</string>
                <key>offset</key>
                <string>{6,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{45,24},{102,162}}</string>
                <key>sourceSize</key>
                <string>{180,200}</string>
            </dict>
            <key>Role_Die_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,332},{138,150}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,26},{138,150}}</string>
                <key>sourceSize</key>
                <string>{180,200}</string>
            </dict>
            <key>Role_Die_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,106},{158,136}}</string>
                <key>offset</key>
                <string>{-4,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,22},{158,136}}</string>
                <key>sourceSize</key>
                <string>{180,200}</string>
            </dict>
            <key>Role_Die_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{166,140}}</string>
                <key>offset</key>
                <string>{4,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,14},{166,140}}</string>
                <key>sourceSize</key>
                <string>{180,200}</string>
            </dict>
            <key>Role_Die_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,2},{166,122}}</string>
                <key>offset</key>
                <string>{-2,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,13},{166,122}}</string>
                <key>sourceSize</key>
                <string>{180,200}</string>
            </dict>
            <key>Role_Die_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,682},{140,92}}</string>
                <key>offset</key>
                <string>{4,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,83},{140,92}}</string>
                <key>sourceSize</key>
                <string>{180,200}</string>
            </dict>
            <key>Role_Die_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,808},{138,74}}</string>
                <key>offset</key>
                <string>{6,-43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,106},{138,74}}</string>
                <key>sourceSize</key>
                <string>{180,200}</string>
            </dict>
            <key>Role_Die_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,522},{138,60}}</string>
                <key>offset</key>
                <string>{-2,-40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,110},{138,60}}</string>
                <key>sourceSize</key>
                <string>{180,200}</string>
            </dict>
            <key>Role_Die_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,598},{146,64}}</string>
                <key>offset</key>
                <string>{-1,-39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,107},{146,64}}</string>
                <key>sourceSize</key>
                <string>{180,200}</string>
            </dict>
            <key>Role_Die_00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,452},{148,68}}</string>
                <key>offset</key>
                <string>{2,-48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,114},{148,68}}</string>
                <key>sourceSize</key>
                <string>{180,200}</string>
            </dict>
            <key>Role_Leap_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,952},{68,136}}</string>
                <key>offset</key>
                <string>{11,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{67,50},{68,136}}</string>
                <key>sourceSize</key>
                <string>{180,200}</string>
            </dict>
            <key>Role_Leap_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,260},{70,152}}</string>
                <key>offset</key>
                <string>{14,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{69,32},{70,152}}</string>
                <key>sourceSize</key>
                <string>{180,200}</string>
            </dict>
            <key>Role_Leap_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,356},{76,150}}</string>
                <key>offset</key>
                <string>{18,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{70,28},{76,150}}</string>
                <key>sourceSize</key>
                <string>{180,200}</string>
            </dict>
            <key>Role_Leap_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,244},{70,152}}</string>
                <key>offset</key>
                <string>{17,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{72,21},{70,152}}</string>
                <key>sourceSize</key>
                <string>{180,200}</string>
            </dict>
            <key>Role_Leap_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,316},{62,152}}</string>
                <key>offset</key>
                <string>{13,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{72,17},{62,152}}</string>
                <key>sourceSize</key>
                <string>{180,200}</string>
            </dict>
            <key>Role_Leap_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,472},{62,148}}</string>
                <key>offset</key>
                <string>{3,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{62,16},{62,148}}</string>
                <key>sourceSize</key>
                <string>{180,200}</string>
            </dict>
            <key>Role_Leap_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{444,662},{64,144}}</string>
                <key>offset</key>
                <string>{3,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,16},{64,144}}</string>
                <key>sourceSize</key>
                <string>{180,200}</string>
            </dict>
            <key>Role_Leap_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,610},{70,144}}</string>
                <key>offset</key>
                <string>{-2,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{53,16},{70,144}}</string>
                <key>sourceSize</key>
                <string>{180,200}</string>
            </dict>
            <key>Role_Leap_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,286},{68,152}}</string>
                <key>offset</key>
                <string>{-4,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{52,17},{68,152}}</string>
                <key>sourceSize</key>
                <string>{180,200}</string>
            </dict>
            <key>Role_Leap_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,126},{66,158}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{55,20},{66,158}}</string>
                <key>sourceSize</key>
                <string>{180,200}</string>
            </dict>
            <key>Role_Leap_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,194},{64,158}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{57,24},{64,158}}</string>
                <key>sourceSize</key>
                <string>{180,200}</string>
            </dict>
            <key>Role_Leap_00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,144},{64,158}}</string>
                <key>offset</key>
                <string>{-1,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{57,28},{64,158}}</string>
                <key>sourceSize</key>
                <string>{180,200}</string>
            </dict>
            <key>Role_Run_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,776},{80,138}}</string>
                <key>offset</key>
                <string>{7,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,51},{80,138}}</string>
                <key>sourceSize</key>
                <string>{180,200}</string>
            </dict>
            <key>Role_Run_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,682},{74,142}}</string>
                <key>offset</key>
                <string>{7,-20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{60,49},{74,142}}</string>
                <key>sourceSize</key>
                <string>{180,200}</string>
            </dict>
            <key>Role_Run_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,664},{68,144}}</string>
                <key>offset</key>
                <string>{7,-20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{63,48},{68,144}}</string>
                <key>sourceSize</key>
                <string>{180,200}</string>
            </dict>
            <key>Role_Run_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,522},{76,146}}</string>
                <key>offset</key>
                <string>{7,-20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{59,47},{76,146}}</string>
                <key>sourceSize</key>
                <string>{180,200}</string>
            </dict>
            <key>Role_Run_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,516},{80,146}}</string>
                <key>offset</key>
                <string>{7,-20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{57,47},{80,146}}</string>
                <key>sourceSize</key>
                <string>{180,200}</string>
            </dict>
            <key>Role_Run_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,758},{86,140}}</string>
                <key>offset</key>
                <string>{7,-20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{54,50},{86,140}}</string>
                <key>sourceSize</key>
                <string>{180,200}</string>
            </dict>
            <key>Role_Run_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,846},{86,136}}</string>
                <key>offset</key>
                <string>{7,-20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{54,52},{86,136}}</string>
                <key>sourceSize</key>
                <string>{180,200}</string>
            </dict>
            <key>Role_Run_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,600},{80,144}}</string>
                <key>offset</key>
                <string>{7,-20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{57,48},{80,144}}</string>
                <key>sourceSize</key>
                <string>{180,200}</string>
            </dict>
            <key>Role_Run_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,536},{72,146}}</string>
                <key>offset</key>
                <string>{7,-20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{61,47},{72,146}}</string>
                <key>sourceSize</key>
                <string>{180,200}</string>
            </dict>
            <key>Role_Run_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,380},{70,148}}</string>
                <key>offset</key>
                <string>{7,-20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{62,46},{70,148}}</string>
                <key>sourceSize</key>
                <string>{180,200}</string>
            </dict>
            <key>Role_Run_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,210},{74,154}}</string>
                <key>offset</key>
                <string>{7,-20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{60,43},{74,154}}</string>
                <key>sourceSize</key>
                <string>{180,200}</string>
            </dict>
            <key>Role_Run_00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,434},{80,148}}</string>
                <key>offset</key>
                <string>{7,-20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{57,46},{80,148}}</string>
                <key>sourceSize</key>
                <string>{180,200}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Role.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:40bbca1adaa749d299c8542e838d539e$</string>
            <key>textureFileName</key>
            <string>Role.png</string>
        </dict>
    </dict>
</plist>
