<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Barrier_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1959,588},{125,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,49}}</string>
                <key>sourceSize</key>
                <string>{125,49}</string>
            </dict>
            <key>Barrier_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1845,1659},{92,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,56}}</string>
                <key>sourceSize</key>
                <string>{92,56}</string>
            </dict>
            <key>Barrier_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1959,480},{106,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,87}}</string>
                <key>sourceSize</key>
                <string>{106,87}</string>
            </dict>
            <key>FG_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1607,2808},{214,1080}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{214,1080}}</string>
                <key>sourceSize</key>
                <string>{214,1080}</string>
            </dict>
            <key>FG_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1246,1736},{565,1070}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{565,1070}}</string>
                <key>sourceSize</key>
                <string>{565,1070}</string>
            </dict>
            <key>FG_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,3587},{510,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{510,256}}</string>
                <key>sourceSize</key>
                <string>{510,256}</string>
            </dict>
            <key>FG_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1246,2808},{979,359}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{979,359}}</string>
                <key>sourceSize</key>
                <string>{979,359}</string>
            </dict>
            <key>FG_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,3845},{1410,220}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1410,220}}</string>
                <key>sourceSize</key>
                <string>{1410,220}</string>
            </dict>
            <key>Immediately Share_UI.png</key>
            <dict>
                <key>frame</key>
                <string>{{1845,1188},{237,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{237,73}}</string>
                <key>sourceSize</key>
                <string>{237,73}</string>
            </dict>
            <key>Immediately Share_UI_Hit.png</key>
            <dict>
                <key>frame</key>
                <string>{{1959,241},{237,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{237,73}}</string>
                <key>sourceSize</key>
                <string>{237,73}</string>
            </dict>
            <key>MS_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{558,1736},{1858,542}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1858,542}}</string>
                <key>sourceSize</key>
                <string>{1858,542}</string>
            </dict>
            <key>MS_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1736},{1849,554}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1849,554}}</string>
                <key>sourceSize</key>
                <string>{1849,554}</string>
            </dict>
            <key>MS_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1065},{1841,669}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1841,669}}</string>
                <key>sourceSize</key>
                <string>{1841,669}</string>
            </dict>
            <key>MS_ground.png</key>
            <dict>
                <key>frame</key>
                <string>{{1102,1736},{1920,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1920,142}}</string>
                <key>sourceSize</key>
                <string>{1920,142}</string>
            </dict>
            <key>OVER.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1841,1061}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{1841,1061}}</string>
                <key>sourceSize</key>
                <string>{1847,1065}</string>
            </dict>
            <key>Reject_UI.png</key>
            <dict>
                <key>frame</key>
                <string>{{1845,949},{237,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{237,73}}</string>
                <key>sourceSize</key>
                <string>{237,73}</string>
            </dict>
            <key>Reject_UI_Hit.png</key>
            <dict>
                <key>frame</key>
                <string>{{1959,2},{237,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{237,73}}</string>
                <key>sourceSize</key>
                <string>{237,73}</string>
            </dict>
            <key>get back_UI.png</key>
            <dict>
                <key>frame</key>
                <string>{{1845,318},{314,112}}</string>
                <key>offset</key>
                <string>{-27,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{314,112}}</string>
                <key>sourceSize</key>
                <string>{368,112}</string>
            </dict>
            <key>get back_UI_Hit.png</key>
            <dict>
                <key>frame</key>
                <string>{{1845,2},{314,112}}</string>
                <key>offset</key>
                <string>{-27,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{314,112}}</string>
                <key>sourceSize</key>
                <string>{368,112}</string>
            </dict>
            <key>grade.png</key>
            <dict>
                <key>frame</key>
                <string>{{1845,634},{313,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{313,112}}</string>
                <key>sourceSize</key>
                <string>{313,112}</string>
            </dict>
            <key>grade_UI.png</key>
            <dict>
                <key>frame</key>
                <string>{{1845,634},{313,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{313,112}}</string>
                <key>sourceSize</key>
                <string>{313,112}</string>
            </dict>
            <key>left_right_leap.png</key>
            <dict>
                <key>frame</key>
                <string>{{1845,1543},{113,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{113,114}}</string>
                <key>sourceSize</key>
                <string>{117,114}</string>
            </dict>
            <key>left_right_leap_UI_Hit.png</key>
            <dict>
                <key>frame</key>
                <string>{{1845,1427},{113,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{113,114}}</string>
                <key>sourceSize</key>
                <string>{117,114}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>UI0.png</string>
            <key>size</key>
            <string>{2048,4096}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c3bb5eebeabc544e927943f5f4fb35a7$</string>
            <key>textureFileName</key>
            <string>UI0.png</string>
        </dict>
    </dict>
</plist>
