<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>A kilometre.png</key>
            <dict>
                <key>frame</key>
                <string>{{528,648},{266,36}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,2},{266,36}}</string>
                <key>sourceSize</key>
                <string>{276,42}</string>
            </dict>
            <key>Can unlock.png</key>
            <dict>
                <key>frame</key>
                <string>{{822,339},{219,115}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,3},{219,115}}</string>
                <key>sourceSize</key>
                <string>{225,121}</string>
            </dict>
            <key>Can unlock_UI.png</key>
            <dict>
                <key>frame</key>
                <string>{{822,339},{219,115}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,3},{219,115}}</string>
                <key>sourceSize</key>
                <string>{225,121}</string>
            </dict>
            <key>Can unlock_UI_Hit.png</key>
            <dict>
                <key>frame</key>
                <string>{{828,118},{219,115}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,3},{219,115}}</string>
                <key>sourceSize</key>
                <string>{225,121}</string>
            </dict>
            <key>Five hundred.png</key>
            <dict>
                <key>frame</key>
                <string>{{528,686},{244,36}}</string>
                <key>offset</key>
                <string>{-12,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,2},{244,36}}</string>
                <key>sourceSize</key>
                <string>{276,42}</string>
            </dict>
            <key>Five kilometers.png</key>
            <dict>
                <key>frame</key>
                <string>{{528,610},{266,36}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,2},{266,36}}</string>
                <key>sourceSize</key>
                <string>{276,42}</string>
            </dict>
            <key>Game name.png</key>
            <dict>
                <key>frame</key>
                <string>{{530,2},{469,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{469,114}}</string>
                <key>sourceSize</key>
                <string>{469,114}</string>
            </dict>
            <key>Get back_UI.png</key>
            <dict>
                <key>frame</key>
                <string>{{939,370},{82,73}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{82,73}}</string>
                <key>sourceSize</key>
                <string>{88,73}</string>
            </dict>
            <key>Get back_UI_Hit.png</key>
            <dict>
                <key>frame</key>
                <string>{{945,286},{82,73}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,0},{82,73}}</string>
                <key>sourceSize</key>
                <string>{88,73}</string>
            </dict>
            <key>Quit a game_UI.png</key>
            <dict>
                <key>frame</key>
                <string>{{945,202},{82,73}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,0},{82,73}}</string>
                <key>sourceSize</key>
                <string>{88,73}</string>
            </dict>
            <key>Quit a game_UI_Hit.png</key>
            <dict>
                <key>frame</key>
                <string>{{945,118},{82,73}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,0},{82,73}}</string>
                <key>sourceSize</key>
                <string>{88,73}</string>
            </dict>
            <key>Restart_UI.png</key>
            <dict>
                <key>frame</key>
                <string>{{809,596},{279,86}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{279,86}}</string>
                <key>sourceSize</key>
                <string>{281,86}</string>
            </dict>
            <key>Restart_UI_Hit.png</key>
            <dict>
                <key>frame</key>
                <string>{{528,522},{279,86}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{279,86}}</string>
                <key>sourceSize</key>
                <string>{281,86}</string>
            </dict>
            <key>Role pitch on.png</key>
            <dict>
                <key>frame</key>
                <string>{{939,445},{97,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,80}}</string>
                <key>sourceSize</key>
                <string>{97,80}</string>
            </dict>
            <key>Role1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{214,526}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{214,526}}</string>
                <key>sourceSize</key>
                <string>{214,526}</string>
            </dict>
            <key>Role2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,866},{212,524}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{212,524}}</string>
                <key>sourceSize</key>
                <string>{214,526}</string>
            </dict>
            <key>Role3.png</key>
            <dict>
                <key>frame</key>
                <string>{{528,724},{212,524}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{212,524}}</string>
                <key>sourceSize</key>
                <string>{214,526}</string>
            </dict>
            <key>Role4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,650},{214,524}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{214,524}}</string>
                <key>sourceSize</key>
                <string>{214,526}</string>
            </dict>
            <key>Role5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,434},{214,524}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{214,524}}</string>
                <key>sourceSize</key>
                <string>{214,526}</string>
            </dict>
            <key>Role6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,218},{214,524}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{214,524}}</string>
                <key>sourceSize</key>
                <string>{214,526}</string>
            </dict>
            <key>Role_UI.png</key>
            <dict>
                <key>frame</key>
                <string>{{528,290},{292,54}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{292,54}}</string>
                <key>sourceSize</key>
                <string>{296,56}</string>
            </dict>
            <key>Role_UI_Hit.png</key>
            <dict>
                <key>frame</key>
                <string>{{528,234},{292,54}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{292,54}}</string>
                <key>sourceSize</key>
                <string>{296,56}</string>
            </dict>
            <key>Share ranking_UI.png</key>
            <dict>
                <key>frame</key>
                <string>{{528,434},{281,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{281,86}}</string>
                <key>sourceSize</key>
                <string>{281,86}</string>
            </dict>
            <key>Share ranking_UI_Hit.png</key>
            <dict>
                <key>frame</key>
                <string>{{528,346},{281,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{281,86}}</string>
                <key>sourceSize</key>
                <string>{281,86}</string>
            </dict>
            <key>Start game_ui.png</key>
            <dict>
                <key>frame</key>
                <string>{{530,176},{296,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{296,56}}</string>
                <key>sourceSize</key>
                <string>{296,56}</string>
            </dict>
            <key>Start game_ui_Hit.png</key>
            <dict>
                <key>frame</key>
                <string>{{530,118},{296,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{296,56}}</string>
                <key>sourceSize</key>
                <string>{296,56}</string>
            </dict>
            <key>TOP_UI.png</key>
            <dict>
                <key>frame</key>
                <string>{{935,762},{216,54}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{40,0},{216,54}}</string>
                <key>sourceSize</key>
                <string>{296,56}</string>
            </dict>
            <key>TOP_UI_Hit.png</key>
            <dict>
                <key>frame</key>
                <string>{{939,544},{216,54}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{40,0},{216,54}}</string>
                <key>sourceSize</key>
                <string>{296,56}</string>
            </dict>
            <key>Three kilometers.png</key>
            <dict>
                <key>frame</key>
                <string>{{897,596},{266,36}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,2},{266,36}}</string>
                <key>sourceSize</key>
                <string>{276,42}</string>
            </dict>
            <key>hectometer.png</key>
            <dict>
                <key>frame</key>
                <string>{{897,864},{244,36}}</string>
                <key>offset</key>
                <string>{-12,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,2},{244,36}}</string>
                <key>sourceSize</key>
                <string>{276,42}</string>
            </dict>
            <key>unlock.png</key>
            <dict>
                <key>frame</key>
                <string>{{809,560},{112,34}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{112,34}}</string>
                <key>sourceSize</key>
                <string>{118,38}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>UI1.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:67a0bb34871028077d38b3ac0b689814$</string>
            <key>textureFileName</key>
            <string>UI1.png</string>
        </dict>
    </dict>
</plist>
